.box{
    display: flex;
    flex-flow: column;
}

.header{
    height: 80vh;
}

.top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.para1{
    padding-top: 2vh;
    color: blueviolet;
}

.para2{
    padding-top: 4vh;
}

.input{
    width: 300px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 1vh;
    padding-left: 3px;
}

.pass{
    margin-top: 15px;
}

.mid{
    display: flex;
    height: auto;
    justify-content: center;
    padding-top: 8vh;
}

.btn{
    width: 300px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #7A5AF8;
    color: white;
}

.or{
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 3vh;
}

.bttom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_btn{
    width: 140px;
    height: 30px;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.anchor{
    text-decoration: none;
}

.footer{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 15px;
}


@media only screen and (max-width: 350px) {
    /* *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    } */

    .box{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .top{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        padding-top: 10vh;
    }

    .or_img{
        width: 100%;
    }

    .or{
        width: 80vw;
    }

    /* .mid{
        display: flex;
        justify-content: center;
        padding-top: 8vh;
    } */

    .input{
        width: 80vw;
        height: 35px;
        border: 1px solid grey;
        border-radius: 4px;
        margin-top: 1vh;
        padding-left: 3px;
    }

    .btn{
        width: 80vw;
        height: 35px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #7A5AF8;
        color: white;
    }

    .header{
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }
  }