*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: large;
}

@media only screen and (max-width: 430px) {
  .Nav{
    display: none !important;
  }
}

.navhome{
  margin-left: 300px;
}
